<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>

    <ion-title>Edit Expense</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-label position="fixed">Name</ion-label>
    <ion-input maxlength="40" placeholder="Enter the cost's name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-label position="fixed">Category</ion-label>
    <ion-select placeholder="Choose a category">
      <ion-select-option>Consumer Goods</ion-select-option>
      <ion-select-option>Dining Out</ion-select-option>
      <ion-select-option>Groceries</ion-select-option>
      <ion-select-option>Health Insurance</ion-select-option>
      <ion-select-option>Housing Costs</ion-select-option>
      <ion-select-option>Insurance</ion-select-option>
      <ion-select-option>Medical Treatments</ion-select-option>
      <ion-select-option>Public Transport</ion-select-option>
      <ion-select-option>Vacation</ion-select-option>
    </ion-select>
    <ion-button slot="end" (click)="showCategoryModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-label position="fixed">Amount</ion-label>
    <ion-input inputmode="decimal" [min]="0.01" placeholder="Enter the amount in CHF" required step="0.01"
               type="number"></ion-input>
    <ion-note slot="end">CHF</ion-note>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label position="fixed">Date</ion-label>
    <ion-datetime-button datetime="date" required></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="date" locale="en-CH" presentation="date" [showDefaultButtons]="true">
          <span slot="title">Enter the date when the cost occurred</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
