<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="reloadCategories($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ng-container *ngIf="categories.length; else noCategories">
      <ion-item button *ngFor="let category of categories" [detail]="true" (click)="openModal(category)">
        <ion-label>
          {{category.name}}
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-template #noCategories>
      <ion-item>
        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
        <ion-label>
          No categories found
        </ion-label>
      </ion-item>
    </ng-template>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
